<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="border bg-light mb-4 box-shadow">
            <h2>Create New Project </h2>

            <%= render 'form', project: @project %>
            <br>
            <%= link_to 'Back', projects_path, class: "btn btn-primary"%>
        </div>
    </div>
</div>
